{%extends 'base.html'%}
{%block title%}إضافة فاتورة{%endblock%}\
{%block content%}
    <style>
        body{
            background-color: #f8f9fa;
        }

        .expense-card{
            border: none;
            border-radius: 20px;
        }
    </style>


<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-7 col-md-9">

            <div class="card expense-card shadow-lg">
                <div class="card-body p-5">

                    <!-- العنوان -->
                    <div class="text-center mb-5">
                        <div class="bg-danger bg-opacity-10 d-inline-flex p-3 rounded-circle">
                            <i class="bi bi-cash-stack text-danger fs-2"></i>
                        </div>

                        <h2 class="fw-bold mt-3">
                            إضافة مصروف جديد
                        </h2>

                        <p class="text-muted">
                            قم بإدخال بيانات المصروف ثم اضغط على حفظ.
                        </p>
                    </div>

                    <!-- الفورم -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label fw-semibold">اسم المشروع</label>
                             {{ expense.name}}
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-semibold">القيمة</label>
                            {{expense.value}}
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-semibold">التصنيف</label>
                            {{expense.category}}
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-semibold">المشروع</label>
                            {{expense.project}}
                        </div>

                        <div class="d-flex justify-content-center gap-3 mt-4">

                            <button type="submit"
                                    class="btn btn-danger px-4">
                                <i class="bi bi-check-circle"></i>
                                حفظ المصروف
                            </button>

                            <a href="{% url 'expenses' %}"
                               class="btn btn-outline-secondary px-4">
                                <i class="bi bi-arrow-right"></i>
                                رجوع
                            </a>

                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>

</div>

{%endblock%}

