
{%extends 'base.html'%}
{%block title%}إضافة فئة{%endblock%}
{%block content%}
<style>
    body{
        background-color: #f8f9fa;
    }

    .category-card{
        border: none;
        border-radius: 20px;
    }
</style>


<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-6 col-md-8">

            <div class="card category-card shadow-lg">
                <div class="card-body p-5">

                    <!-- العنوان -->
                    <div class="text-center mb-5">
                        <div class="bg-primary bg-opacity-10 d-inline-flex p-3 rounded-circle">
                            <i class="bi bi-tags-fill text-primary fs-2"></i>
                        </div>

                        <h2 class="fw-bold mt-3">
                            إضافة تصنيف جديد
                        </h2>

                        <p class="text-muted">
                            أدخل بيانات التصنيف ثم اضغط على حفظ.
                        </p>
                    </div>

                    <!-- الفورم -->
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label fw-semibold">اسم الفئة</label>
                             {{ catFormH.name}}
                        </div>

                        <div class="d-flex justify-content-center gap-3 mt-4">

                            <button type="submit"
                                    class="btn btn-primary px-4">
                                <i class="bi bi-check-circle"></i>
                                حفظ
                            </button>

                            <a href="{% url 'categories' %}"
                               class="btn btn-outline-secondary px-4">
                                <i class="bi bi-arrow-right"></i>
                                رجوع
                            </a>

                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>

</div>
{%endblock%}

