{%extends 'base.html'%}
{%block title%}اضافة مساهمة{%endblock%}
{%block content%}
    <style>
        body{
            background-color: #f8f9fa;
        }

        .contribution-card{
            border: none;
            border-radius: 20px;
        }
    </style>


<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-lg-7 col-md-9">

            <div class="card contribution-card shadow-lg">
                <div class="card-body p-5">

                    <!-- العنوان -->
                    <div class="text-center mb-5">
                        <div class="bg-success bg-opacity-10 d-inline-flex p-3 rounded-circle">
                            <i class="bi bi-piggy-bank-fill text-success fs-2"></i>
                        </div>

                        <h2 class="fw-bold mt-3">
                            إضافة سهم جديد
                        </h2>

                        <p class="text-muted">
                            قم بإدخال بيانات السهم ثم اضغط على حفظ.
                        </p>
                    </div>

                    <!-- الفورم -->
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label fw-semibold">اسم السهم</label>
                             {{ cform.name}}
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-semibold">قيمة المساهمة</label>
                             {{ cform.amount}}
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-semibold">اسم المشروع</label>
                             {{ cform.project}}
                        </div>

                        <div class="d-flex justify-content-center gap-3 mt-4">

                            <button type="submit"
                                    class="btn btn-success px-4">
                                <i class="bi bi-check-circle"></i>
                                حفظ السهم
                            </button>

                            <a href="{% url 'contributions' %}"
                               class="btn btn-outline-secondary px-4">
                                <i class="bi bi-arrow-right"></i>
                                رجوع
                            </a>

                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>

</div>
{%endblock%}
