{%extends 'base.html'%}
{%block title%}تعديل الفئة{%endblock%}
{%block content%}

<div class="container d-flex justify-content-center align-items-center min-vh-100">

    <div class="card shadow-lg p-4 w-100" style="max-width: 500px; border-radius: 15px;">

        <h3 class="text-center mb-4">تعديل التصنيف</h3>

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                {{ catFormH.as_p }}
            </div>

            <button type="submit" class="btn btn-primary w-100">
                حفظ التعديل
            </button>
        </form>

    </div>

</div>

{%endblock%}