{%extends "base.html"%}
{%block title%} تفاصيل المصروفات{%endblock%}

{%block content%}
    <div class="container py-5">
        <!-------------------Card--------------------->
        <div class="card border-0 shadow-sm rounded-4">
            <!------------------Card header--------------------->
            <div class="card-header bg-primary text-white py-3 d-flex align-items-center">
                
                <i class="bi bi-receipt-cutoff"></i>
                <h5 class="mb-0 fw-bold me-2">تفاصيل المصاريف</h5>
                
            </div>

            <!---------------card body-------------------------->
            
            <div class="card-body">
                <!--------------Row------------->
                <div class="row g-4">
                    <div class="col-md-6">
                        <label class="text-muted fw-semibold"><i class="bi bi-receipt me-2"></i> اسم المصروف</label><p ><span class="badge bg-danger fs-6 fw-bold">{{expense.name}}</span></p> 
                    </div>
                    <div class="col-md-6">
                        <label class="text-muted fw-semibold"><i class="bi bi-currency-dollar"></i>  القيمة</label><p><span class="badge bg-danger fs-6 fw-bold">{{expense.value}} د.ل</span></p>
                    </div>
                    <div class="col-md-6">
                        <label class="text-muted fw-semibold"><i class="bi bi-tag-fill"></i>الفئة</label><p><span class="badge bg-danger fs-6 fw-bold">{{expense.category}}</span></p>
                    </div>
                    <div class="col-md-6">
                        <label class="text-muted fw-semibold"><i class="bi bi-folder-fill"></i>اسم المشروع</label><p><span class="badge bg-danger fs-6 fw-bold">{{expense.project}}</span></p>
                    </div>
                </div>
            </div>


            <div class="card-footer d-flex justify-content-end gap-2">
               <a href="{% url 'edit_expense' expense.id %}" class="btn btn-warning text-white"> تعديل</a>
                <a href="{% url 'delete_expense' expense.id %}" class="btn btn-danger"> حذف</a>
                <a href="{% url 'expenses' %}" class="btn btn-light border"> رجوع</a>

            </div>
        </div>


    </div>
{%endblock%}